<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.mapper.BlogMapper">
  <resultMap id="BaseResultMap" type="com.myblog.model.Blog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="blog_type" jdbcType="INTEGER" property="blogType" />
    <result column="see_num" jdbcType="INTEGER" property="seeNum" />
    <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
    <result column="praise_num" jdbcType="INTEGER" property="praiseNum" />
    <result column="blog_keyword" jdbcType="VARCHAR" property="blogKeyword" />
    <result column="is_usable" jdbcType="BIT" property="isUsable" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="blog_title" jdbcType="LONGVARCHAR" property="blogTitle" />
    <result column="blog_abstract" jdbcType="LONGVARCHAR" property="blogAbstract" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myblog.model.Blog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into blog (blog_type, see_num, comment_num, 
      praise_num, blog_keyword, is_usable, 
      create_time, create_user_id, create_user_name,
      update_time, update_user_id, update_user_name,
      blog_title, blog_abstract
      )
    values (#{blogType,jdbcType=INTEGER}, #{seeNum,jdbcType=INTEGER}, #{commentNum,jdbcType=INTEGER},
      #{praiseNum,jdbcType=INTEGER}, #{blogKeyword,jdbcType=VARCHAR}, #{isUsable,jdbcType=BIT}, 
      #{createTime,jdbcType=DATE}, #{createUserId,jdbcType=INTEGER},#{createUserName,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, #{updateUserName,jdbcType=VARCHAR},
      #{blogTitle,jdbcType=LONGVARCHAR}, #{blogAbstract,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.myblog.model.Blog">
    update blog
    set blog_type = #{blogType,jdbcType=INTEGER},
      see_num = #{seeNum,jdbcType=INTEGER},
      comment_num = #{commentNum,jdbcType=INTEGER},
      praise_num = #{praiseNum,jdbcType=INTEGER},
      blog_keyword = #{blogKeyword,jdbcType=VARCHAR},
      is_usable = #{isUsable,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_user_name = #{updateUserName,jdbcType=VARCHAR},
      blog_title = #{blogTitle,jdbcType=LONGVARCHAR},
      blog_abstract = #{blogAbstract,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, blog_type, see_num, comment_num, praise_num, blog_keyword, is_usable, 
    create_time, create_user_id, update_time, update_user_id, blog_title, blog_abstract
    from blog
    where id = #{id,jdbcType=INTEGER}
    and is_usable = 1
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, blog_type, see_num, comment_num, praise_num, blog_keyword, is_usable, 
    create_time, create_user_id, update_time, update_user_id, blog_title, blog_abstract
    from blog
    where is_usable = 1
  </select>
  <select id="pageAll" parameterType="com.myblog.model.Blog" resultMap="BaseResultMap">
    select id, blog_type, see_num, comment_num, praise_num, blog_keyword, is_usable,
    create_time, create_user_id, update_time, update_user_id, blog_title, blog_abstract
    from blog
    where is_usable = 1
    <if test="blogKeyword != null and blogKeyword !=''">
      and blog_keyword like concat('%',#{blogKeyword},'%')
    </if>
    <if test="blogType != null">
      and blog_type = #{blogType}
    </if>
    <if test="blogTitle != null and blogTitle !=''">
      and blog_title like concat('%',#{blogTitle},'%')
    </if>
    order by create_time desc
    limit #{page},#{pageSize}
  </select>
  <select id="countAll" parameterType="com.myblog.model.Blog" resultType="java.lang.Long">
    SELECT count(0) FROM blog where is_usable = 1
    <if test="blogKeyword != null and blogKeyword !=''">
      and blog_keyword like concat('%',#{blogKeyword},'%')
    </if>
    <if test="blogType != null">
      and blog_type = #{blogType}
    </if>
    <if test="blogTitle != null and blogTitle !=''">
      and blog_title like concat('%',#{blogTitle},'%')
    </if>
  </select>
  <select id="selectByBlogKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, blog_type, see_num, comment_num, praise_num, blog_keyword, is_usable,
    create_time, create_user_id, update_time, update_user_id, blog_title, blog_abstract
    from blog
    where is_usable = 1
    <if test="blogKeyword != null and blogKeyword !=''">
      and blog_keyword like concat('%',#{blogKeyword},'%')
    </if>
  </select>
  <select id="selectByBlogType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, blog_type, see_num, comment_num, praise_num, blog_keyword, is_usable,
    create_time, create_user_id, update_time, update_user_id, blog_title, blog_abstract
    from blog
    where is_usable = 1
    <if test="blogType != null">
      and blog_type = #{blogType}
    </if>
  </select>
  <select id="selectByBlogTitle" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, blog_type, see_num, comment_num, praise_num, blog_keyword, is_usable,
    create_time, create_user_id, update_time, update_user_id, blog_title, blog_abstract
    from blog
    where is_usable = 1
    <if test="blogTitle != null and blogTitle !=''">
      and blog_title like concat('%',#{blogTitle},'%')
    </if>
  </select>
  <update id="deleteBlog" parameterType="com.myblog.model.Blog">
     update blog
    set is_usable = 0,
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_user_name = #{updateUserName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>